:root {
  /* Light mode colors */
  --background: #f0f0f0;
  --font-color: #111111;
  --floating-code-color: #00ff5e;
  --navbar-background-color: #f0f0f0;
  --navbar-background-hover-color: #e3e3e3;
  --text-section-header: clamp(32px, 5vw, 100px);
  --card-color-green: #9fe055;
  --card-color-gray: rgba(0, 0, 0, 0.751);
  --card-color-red: #db1313;
  --card-color-purple: rgb(148, 66, 255);
}

[data-theme="dark"] {
  --background: #111111;
  --font-color: #f0f0f0;
  --navbar-background-color: #252525;
  --navbar-background-hover-color: #323232;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--font-color);
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

.sectionY {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --font-color: #f0f0f0;
    --navbar-background-color: #252525;
    --navbar-background-hover-color: #323232;
  }
}
